.DS_Store
.trash
.obsidian/workspace.json
*~
~$*
.~lock.*
~*.tmp
*.~*
Icon\r*
.ds_store
*.textClipping
._*
Thumbs.db
photothumb.db
System Volume Information
.*.sw?
.*.*sw?
.TemporaryItems
.Trashes
.DocumentRevisions-V100
.Trash-*
.fseventd
.apdisk
.Spotlight-V100
.directory
*.part
*.filepart
*.crdownload
*.kate-swp
*.gnucash.tmp-*
.sync.ffs_db
.synkron.*
.symform
.symform-store
.fuse_hidden*
*.unison
.nfs*
.stfolder
.stignore
.stversions
My Saved Places.
*.sb-*
.sync_*.db*
._sync_*.db*
.csync_journal.db
